PORT=3000
MONGO_URI=mongodb://localhost:27017/appreciclaje
JWT_SECRET=cambia_esto_por_una_clave_larga_y_secreta
JWT_EXPIRES_IN=30m

# Datos para el usuario admin inicial (usados solo por seed.js)
ADMIN_NOMBRE=Administrador General
ADMIN_CODIGO=ADM001
ADMIN_PASSWORD=CambiarPassword123!
ADMIN_CARGO=Administrador
ADMIN_TURNO=Mañana
